* {
    font-family: Arial, Helvetica, sans-serif;    
}

h1 {
    color: green;
    background-color: red;
    font-size: 52px;
}

p {
    background-color: blueviolet;
    font-size: 24px;
}

ul {
    background-color: green;
    font-size: 24px;
}

ol {
    background-color: yellow;
}